<div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Pid</th>
        <th>Pname</th>
        <th>Cost</th>
        <th>CategoryId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products"
        [class.active] = "currentProduct == product"
        (click) = "select(product)">
        <td>{{product.pid}}</td>
        <td>{{product.pname}}</td>
        <td>{{product.cost}}</td>
        <td>{{product.categoryid}}</td>
         <jce-product [product] = product (deleteEvent) = "deleteProduct($event)"
                                    (editEvent) = "editProduct($event)"></jce-product>
      </tr>
    </tbody>
  </table> 
   
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pid</th>
        <th>Pname</th>
        <th>Cost</th>
        <th>CategoryId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products"
        [class.active] = "currentProduct == product"
        (click) = "select(product)">
        <td>{{product.pid}}</td>
        <td>{{product.pname}}</td>
        <td>{{product.cost}}</td>
        <td *ngFor = "let category of product.posTitles">
                 {{(category | async)?.name}}
        </td>
         
      </tr>
    </tbody>
  </table>  
</div>